@font-face {
    font-family: 'square';
    src: url('./../fonts/squarefont/Square.ttf');
    font-style: normal;
  }

html{
    display: flex;
    height: 100%;
}

body{
    display: flex;
    flex: 1;
    margin: 0px
}

#content{
    display: flex;
    flex: 1;
    flex-direction: row;
}

#items{
    display: grid;
    flex: 1;
    grid-template-rows: 5rem auto 7rem;
}

#projectTitle{
    display: flex;
    font-size: 3rem;
    height: 3rem;
    padding: 1rem;
    padding-bottom: 0rem;
    font-weight: bolder;
    border-bottom: solid lightblue 1rem;
    justify-content: center;
    font-family: square;
    margin-left: auto;
}

#titleText{
    overflow: scroll;
}

#buttons{
    display: flex;
    flex: 1;
    justify-content:center;
    padding: 1rem;
    gap: 1rem;
    font-size: 2rem;
    font-family: square;

    background-color: lightblue;
    border-top: solid black 1px;
}

#addTask{
    display: flex;
    flex: 0.7;
    max-width: 28rem;
    justify-content: center;
    align-items: center;

    height: 5rem;
}

#deleteProject{
    display: flex;
    flex: 0.3;
    max-width: 12rem;
    justify-content: center;
    align-items: center;

    height: 5rem;
}

#buttons>div{
    display: flex;
    font-size: 2rem;
    margin: 1rem;
    font-family: square;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    align-self: center;
    user-select: none;

    background-color: white;
    color: lightblue;
    box-shadow:  2px 2px black;
}

#buttons>div:active{
    box-shadow:  none;
}

#tasks{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 1rem 5rem;
    padding-top: 2rem;
    gap: 1rem
}

.task{
    font-family: square;
    font-size: 1.5rem;
    display: flex;
    background-color: lightblue;
    padding: 1rem;
}

.task.High{
    border: solid red 3px;
    box-shadow: 4px 4px black;
}

.task.Medium{
    border: solid yellow 3px;
    box-shadow: 4px 4px black;
}

.task.Low{
    border: solid lightgreen 3px;
    box-shadow: 4px 4px black;
}

.title{
    font-weight: bold;
}

.content>.title{
    pointer-events:none;
}

.description, .dueDate{
    display: flex;
    flex-wrap: wrap;
    font-family: 'serif';
    font-size: 1rem;
    pointer-events: none;
}

.dueDate{
    font-weight: bold;
}

.options{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-around;
}


